<%= render 'shared/errors' %>
<%= form_for(@greport) do |f| %>

   <div class="field">
    <%= f.label :roll %><br>
    <%= f.text_field :roll %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :marksobt %><br>
    <%= f.text_field :marksobt %>
  </div>
  <div class="field">
    <%= f.label :marksout %><br>
    <%= f.text_field :marksout %>
  </div>
  <div class="field">
    <%= f.label :result %><br>
    <%= f.text_field :result %>
  </div>
  <div class="field">
    <%= f.label :sgpa %><br>
    <%= f.text_field :sgpa %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
