<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-xs-6">
     <div id="container" style="width:100%; height:400px;">
       <h3>Hello, welcome!</h3>
       <p style="font-size: 160%;"> This is your reports page. This is your generated report.To the right we have the pie chart representation of the passed vs the failed students in the examination.To the lower side you will find the list of the first 3 toppers of the examination.At this stage,we only have two options and later we will be implementing dynamic report generation by choosing the fields of your choice !So Let's report it!</p>

    </div>
  </div>
  <div class = "col-xs-6">
    <div id="container1" style="width:100%; height:400px;">
    </div>
  </div>
</div>


<div class="row">
 <div class="container">
    <div class="col-cs-6">
        <script>
          $(function () {
            $('#container1').highcharts({
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Students Result'
                },
                xAxis: {
                    categories: ['Pass','Fail']
                  //categories: ['Apples', 'Bananas', 'Oranges']
                },
                yAxis: {
                    title: {
                        text: 'Passed Students'
                    }
                },
              tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },

                series: [{

                    data:[{
                      name: 'Passed',
                      y: <%=  Greport.total_passed().to_i %>
                }, {
                    name: 'Failed',
                    y:  <%= Greport.total_failed().to_i  %>
                }]
                }]
            });
        });
        </script>
    </div>
  </div>
  <div class="container">
    <div class="col-sx-6">
     <script>

      </script>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>


<h2> Student Toppers<h2>

      <table border="I">
        <thead>
          <tr>
            <th>Roll No.</th>
            <th>Names</th>
            <th>Percentage</th>
            <th>Exam</th>
          </tr>
        </thead>
      <% @toppers.each do |topper| %>
      <tr>
        <td><%= topper.roll.to_i %></td>
        <td><%= topper.name %></td>
        <td><%= topper.percent %>%</td>
        <td><%= topper.exam %></td>
      </tr>
        <% end %>
      </table>

  </div>
</div>
</div>
<!--<h1>Generate Reports</h1>
<div class="media">
  <div class="media-body">
    <table class="table table-hover">
  <thead>
    <tr>
      <th>Roll</th>
      <th>Name</th>
      <th>Marks obtained</th>
      <th>Marks outof</th>
      <th>Percent</th>
      <th>Year</th>
      <th>Exam</th>
      <th>Sem</th>
      <th>Session</th>
      <th>Batch</th>
      <th>Result</th>
      <th>Sgpa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @greports.each do |greport| %>
      <tr>
        <td><%= greport.roll %></td>
        <td><%= greport.name %></td>
        <td><%= greport.marksobt %></td>
        <td><%= greport.marksout %></td>
        <td><%= greport.percent %></td>
        <td><%= greport.year %></td>
        <td><%= greport.exam %></td>
        <td><%= greport.sem %></td>
        <td><%= greport.session %></td>
        <td><%= greport.batch %></td>
        <td><%= greport.result %></td>
        <td><%= greport.sgpa %></td>
        <td><%= link_to 'Show', greport %></td>
        <td><%= link_to 'Edit', edit_greport_path(greport) %></td>
        <td><%= link_to 'Destroy', greport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>-->

<!--<div class="media">
  <div class="media-body">
<h2>Import Data</h2>
  <%= form_tag  import_greports_path, multipart: true do %>
  <%= file_field_tag :file %><br>
  <%= submit_tag "Import" %>
<% end %><br>-->
    [ <%= link_to 'Add new Record', new_greport_path %> ]

    <div class="container">

 <p align ="center"><%= link_to "Create a New Report", destroyall_new_greport_path, class: "btn btn-success btn-lg btn-xlarge-shubham" %></p>
      <p><h3 align="center">By clicking this button the previous data will be deleted and you will be redirected to create a new report.We recommend you to print this page for later references.</h3>(You can do it by ctrl+p on your keyboard)</p>
    </div>
      </div>
    </div>

</div>
